body {
    background: url('assets/background.jpg') no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4rem;
    line-height: 0.95;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    margin: 0 0.65em 1em;
    pointer-events: none;
    user-select: none;
    color: #fff;
    opacity: 0.9;
    text-shadow: 2px 5px #160e0e;
}

#collisionCanvas {
    opacity: 0;
}

#menuMain {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuPause {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuGameOver {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    width: 200px;
    padding: 12px 20px;
    background: transparent;
    position: relative;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: monospace;
    color: #fff;
    opacity: 0.75;
    text-shadow: 2px 2px #160e0e;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(0, 0);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

button:hover {
    opacity: 1;
}

button:hover::after {
    transform: scale(1, 1);
    opacity: 1;
}

.credits {
    position: fixed;
    color: #fff;
    opacity: 0.9;
    bottom: 20px;
    user-select: none;
}

/* Countdown */
.countdown:before {
    content: '321';
    font-size: 6rem;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:monospace;
    display:inline-block;
    width:1ch;
    overflow:hidden;
    -webkit-animation:countdowns 3s steps(3) 1;
    -moz-animation:countdowns 3s steps(3) 1;
    animation:countdowns 3s steps(3) 1 forwards;
}

@-webkit-keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}
@-moz-keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}
@-o-keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}
@keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}

.hud {
    display: none;
}

.hud-score {
    position: fixed;
    top: 0.65em;
    left: 0.65em;
    pointer-events: none;
    user-select: none;
    color: #fff;
    font-size: calc(14px + 2vw + 1vh);
    font-weight: 700;
}

.final-score {
    font-size: calc(14px + 2vw + 1vh);
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #160e0e;
    text-align: center;
    margin-top: -0.8em;
    margin-bottom: 0.8em;
}

#high-score-lbl {
    font-size: 0.6em;
}

.raven-count-lbl {
    font-size: 0.46em;
}

.pause-btn {
    position: fixed;
    font-size: calc(14px + 2vw + 1vh);
    top: 0;
    right: 0;
    padding: 0.8em 0.65em;
}

.pause-btn>div {
    position: relative;
    width: 0.8em;
    height: 0.8em;
    opacity: 0.75;
}

.pause-btn>div::before,
.pause-btn>div::after {
    content: '';
    display: block;
    width: 34%;
    height: 100%;
    position: absolute;
    background-color: #fff;
}

.pause-btn>div::after {
    right: 0;
}